In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [2]:
# setting path

path = r'/Users/brad/Desktop/Instacart Basket Analysis'

In [3]:
# Importing the orders_products_combined pkl file

ords_prods_merge = pd.read_pickle(os.path.join(path, '/Users/brad/Desktop/Instacart Basket Analysis/02 Data/Prepared Data/orders_products_merged_v2_updated.pkl'))
print(path)

/Users/brad/Desktop/Instacart Basket Analysis

Q2 - In this Exercise, you learned how to find the aggregated mean of the “order_number” column grouped by “department_id” for a subset of your dataframe. Now, repeat this process for the entire dataframe.

In [5]:
# Defining df
df = ords_prods_merge

In [8]:
df.shape

(32434212, 21)

In [12]:
# aggregating df for analysis
df.groupby('department_id').agg({'order_number': ['mean', 'min', 'max', 'median']})

              order_number
                      mean min max median
department_id
1                15.457687   1  99   10.0
2                17.277920   1  99   11.0
3                17.179756   1  99   11.0
4                17.811403   1  99   11.0
5                15.213779   1  99    9.0
6                16.439806   1  99   10.0
7                17.225773   1  99   11.0
8                15.340520   1  99   10.0
9                15.895474   1  99   10.0
10               20.197148   1  99   14.0
11               16.170828   1  99   10.0
12               15.887622   1  99   10.0
13               16.583304   1  99   10.0
14               16.757377   1  99   11.0
15               16.165037   1  99   10.0
16               17.663250   1  99   11.0
17               15.694469   1  99   10.0
18               19.310397   1  99   13.0
19               17.177343   1  99   11.0
20               16.473447   1  99   10.0
21               22.902379   1  99   16.0

Q3 - Analyze the result. How do the results for the entire dataframe differ from those of the subset? Include your comments in a markdown cell below the executed code.

- Min and max values remain the same, but the ran TBC

Q4. Follow the instructions in the Exercise for creating a loyalty flag for existing customers using the transform() and loc() functions.

In [13]:
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [14]:
ords_prods_merge.head(15)

,Unnamed: 0.1,Unnamed: 0_x,order_id,user_id,eval_set,order_number,orders_day_of_the_week,order_hour_of_day,days_since_prior_order,product_id,...,Unnamed: 0_y,product_name,aisle_id,department_id,prices,_merge,busiest_day,busiest_days,busiest_period_of_day,max_order
0,0,0,2539329,1,prior,1,2,8,NaN,196,...,195,Soda,77,7,9.0,both,Regularly busy,Regularly days,Average orders,10
1,1,1,2398795,1,prior,2,3,7,15.0,196,...,195,Soda,77,7,9.0,both,Regularly busy,Slowest days,Average orders,10
2,2,2,473747,1,prior,3,3,12,21.0,196,...,195,Soda,77,7,9.0,both,Regularly busy,Slowest days,Most orders,10
3,3,3,2254736,1,prior,4,4,7,29.0,196,...,195,Soda,77,7,9.0,both,Least busy,Slowest days,Average orders,10
4,4,4,431534,1,prior,5,4,15,28.0,196,...,195,Soda,77,7,9.0,both,Least busy,Slowest days,Most orders,10
5,5,5,3367565,1,prior,6,2,7,19.0,196,...,195,Soda,77,7,9.0,both,Regularly busy,Regularly days,Average orders,10
6,6,6,550135,1,prior,7,1,9,20.0,196,...,195,Soda,77,7,9.0,both,Regularly busy,Busiest days,Average orders,10
7,7,7,3108588,1,prior,8,1,14,14.0,196,...,195,Soda,77,7,9.0,both,Regularly busy,Busiest days,Most orders,10
8,8,8,2295261,1,prior,9,1,16,0.0,196,...,195,Soda,77,7,9.0,both,Regularly busy,Busiest days,Average orders,10
9,9,9,2550362,1,prior,10,4,8,30.0,196,...,195,Soda,77,7,9.0,both,Least busy,Slowest days,Average orders,10
10,144,144,2968173,15,prior,15,1,9,7.0,196,...,195,Soda,77,7,9.0,both,Regularly busy,Busiest days,Average orders,22
11,146,146,1870022,15,prior,17,2,16,8.0,196,...,195,Soda,77,7,9.0,both,Regularly busy,Regularly days,Average orders,22
12,147,147,1911383,15,prior,18,2,11,7.0,196,...,195,Soda,77,7,9.0,both,Regularly busy,Regularly days,Most orders,22
13,150,150,2715276,15,prior,21,1,9,7.0,196,...,195,Soda,77,7,9.0,both,Regularly busy,Busiest days,Average orders,22
14,151,151,487368,15,prior,22,1,10,14.0,196,...,195,Soda,77,7,9.0,both,Regularly busy,Busiest days,Most orders,22

In [15]:
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [16]:
# Checking frequency of loyalty flags
ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
Regular customer    15891077
Loyal customer      10293737
New customer         6249398
Name: count, dtype: int64

In [ ]:
# Simplifying the view to relevant columns
ords_prods_merge[['user_id', 'loyalty_flag', 'order_number']].head(60)

Q5. The marketing team at Instacart wants to know whether there’s a difference between the spending habits of the three types of customers you identified. Use the loyalty flag you created and check the basic statistics of the product prices for each loyalty category (Loyal Customer, Regular Customer, and New Customer). What you’re trying to determine is whether the prices of products purchased by loyal customers differ from those purchased by regular or new customers.

In [18]:
# Group by "prices" 
ords_prods_merge.groupby('prices')

In [19]:
# Split the data into groups by "loyalty_flag" and then calculate the mean for each "prices" column
ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['mean']})

                     prices
                       mean
loyalty_flag
Loyal customer    10.388747
New customer      13.294370
Regular customer  12.496203

Q6 - The team now wants to target different types of spenders in their marketing campaigns. This can be achieved by looking at the prices of the items people are buying. Create a spending flag for each user based on the average price across all their orders using the following criteria:
- If the mean of the prices of products purchased by a user is lower than 10, then flag them as a “Low spender.”
- If the mean of the prices of products purchased by a user is higher than or equal to 10, then flag them as a “High spender.”

In [21]:
# creating "average_price" column 
ords_prods_merge['average_price'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [22]:
ords_prods_merge.head()

,Unnamed: 0.1,Unnamed: 0_x,order_id,user_id,eval_set,order_number,orders_day_of_the_week,order_hour_of_day,days_since_prior_order,product_id,...,aisle_id,department_id,prices,_merge,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_price
0,0,0,2539329,1,prior,1,2,8,NaN,196,...,77,7,9.0,both,Regularly busy,Regularly days,Average orders,10,New customer,6.367797
1,1,1,2398795,1,prior,2,3,7,15.0,196,...,77,7,9.0,both,Regularly busy,Slowest days,Average orders,10,New customer,6.367797
2,2,2,473747,1,prior,3,3,12,21.0,196,...,77,7,9.0,both,Regularly busy,Slowest days,Most orders,10,New customer,6.367797
3,3,3,2254736,1,prior,4,4,7,29.0,196,...,77,7,9.0,both,Least busy,Slowest days,Average orders,10,New customer,6.367797
4,4,4,431534,1,prior,5,4,15,28.0,196,...,77,7,9.0,both,Least busy,Slowest days,Most orders,10,New customer,6.367797

In [23]:
# creating "Spending_flag" for average price < 10 as low spender
ords_prods_merge.loc[ords_prods_merge['average_price'] < 10, 'spending_flag'] = 'Low spender'

In [24]:
# creating "Spending_flag" for average price >= 10 as High spender
ords_prods_merge.loc[ords_prods_merge['average_price'] >= 10, 'spending_flag'] = 'High spender'

In [25]:
ords_prods_merge['spending_flag'].value_counts(dropna = False)

spending_flag
Low spender     31798751
High spender      635461
Name: count, dtype: int64

In [26]:
ords_prods_merge.head()

,Unnamed: 0.1,Unnamed: 0_x,order_id,user_id,eval_set,order_number,orders_day_of_the_week,order_hour_of_day,days_since_prior_order,product_id,...,department_id,prices,_merge,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_price,spending_flag
0,0,0,2539329,1,prior,1,2,8,NaN,196,...,7,9.0,both,Regularly busy,Regularly days,Average orders,10,New customer,6.367797,Low spender
1,1,1,2398795,1,prior,2,3,7,15.0,196,...,7,9.0,both,Regularly busy,Slowest days,Average orders,10,New customer,6.367797,Low spender
2,2,2,473747,1,prior,3,3,12,21.0,196,...,7,9.0,both,Regularly busy,Slowest days,Most orders,10,New customer,6.367797,Low spender
3,3,3,2254736,1,prior,4,4,7,29.0,196,...,7,9.0,both,Least busy,Slowest days,Average orders,10,New customer,6.367797,Low spender
4,4,4,431534,1,prior,5,4,15,28.0,196,...,7,9.0,both,Least busy,Slowest days,Most orders,10,New customer,6.367797,Low spender

Q7 - In order to send relevant notifications to users within the app (for instance, asking users if they want to buy the same item again), the Instacart team wants you to determine frequent versus non-frequent customers. Create an order frequency flag that marks the regularity of a user’s ordering behavior according to the median in the “days_since_prior_order” column. The criteria for the flag should be as follows:
If the median of “days_since_prior_order” is higher than 20, then the customer should be labeled a “Non-frequent customer.”
If the median is higher than 10 and lower than or equal to 20, then the customer should be labeled a “Regular customer.”
If the median is lower than or equal to 10, then the customer should be labeled a “Frequent customer.”

In [27]:
# creating "median_orders" column 
ords_prods_merge['median_orders'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [28]:
ords_prods_merge.head()

,Unnamed: 0.1,Unnamed: 0_x,order_id,user_id,eval_set,order_number,orders_day_of_the_week,order_hour_of_day,days_since_prior_order,product_id,...,prices,_merge,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_price,spending_flag,median_orders
0,0,0,2539329,1,prior,1,2,8,NaN,196,...,9.0,both,Regularly busy,Regularly days,Average orders,10,New customer,6.367797,Low spender,20.5
1,1,1,2398795,1,prior,2,3,7,15.0,196,...,9.0,both,Regularly busy,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.5
2,2,2,473747,1,prior,3,3,12,21.0,196,...,9.0,both,Regularly busy,Slowest days,Most orders,10,New customer,6.367797,Low spender,20.5
3,3,3,2254736,1,prior,4,4,7,29.0,196,...,9.0,both,Least busy,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.5
4,4,4,431534,1,prior,5,4,15,28.0,196,...,9.0,both,Least busy,Slowest days,Most orders,10,New customer,6.367797,Low spender,20.5

In [29]:
# Creating "order_frequency_flag" for median_orders > 20 as "Non-frequent customer"
ords_prods_merge.loc[ords_prods_merge['median_orders'] > 20, 'order_frequency_flag'] = 'Non-frequent customer'

In [30]:
# Creating "order_frequency_flag" for median orders > 10 & <= 20 as "Regular customer"
ords_prods_merge.loc[(ords_prods_merge['median_orders'] > 10) & (ords_prods_merge['median_orders'] <= 20), 'order_frequency_flag'] = 'Regular customer'

In [31]:
# Creating "order_frequency_flag" for median orders < 10 as "Frequent customer"
ords_prods_merge.loc[ords_prods_merge['median_orders'] <= 10, 'order_frequency_flag'] = 'Frequent customer'

In [32]:
# checking "order_frequency_flag" frequency
ords_prods_merge['order_frequency_flag'].value_counts(dropna = False)

order_frequency_flag
Frequent customer        21577409
Regular customer          7217134
Non-frequent customer     3639669
Name: count, dtype: int64

# Export Data

In [ ]:
ords_prods_merge.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged_updated.pkl'))